.header-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px;
    background-color: #ffffff;
}

.header-heading{
    font-family: "Roboto";
    font-size: 24px;
    font-weight: bolder;
    color: #5560EA;
    text-decoration: none;
}

.buttons-container{
    display:flex;
    flex-direction: row;
    width: 250px;
    justify-content: space-around;
}

.try-for-free-button{
    height: 35px;
    width: 110px;
    color:#ffffff;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 45px;
    background-color: #5560EA;
}

.logout-button{
    height: 35px;
    width: 78px;
    color:#A03232;
    background-color: #ffffff;
    font-weight: bolder;
    font-family: "Roboto";
    font-size: 14px;
    border: 1px solid #FAD2D2;
    border-radius: 12px;
    cursor: pointer;
    outline: none;
}